@import url("https://use.typekit.net/jmk3xov.css");

nav {
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
}

.nav-container {
  display: flex;
  gap: 15px;
}

nav a {
  color: yellow;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  transition: all 0.3s ease;
  
}

nav a:hover {
  color: blue;
  background-color: #555;
  color: #fff;
  cursor: pointer;
}



canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mytitle{
  font-size: 12px;
  margin-left: 25px;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  color: aqua;
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}


header {
  margin-left: 20px;
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}