@import "tailwindcss";

body {
  background: radial-gradient(at 25% 25%, white 0%, #18181b 75%);
  min-height: 110vh;
  margin: 0;
}

.loader{
  animation:  rotate 3s steps(12) infinite;
}

@keyframes rotate {
  to{
    transform: rotate(360deg);
  }
}